<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Manager Book"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChangePass" />
        <activity android:name=".ListNguoiDungActivity" />
        <activity android:name=".ThemNguoiDungActivity" />
        <activity android:name=".NguoiDungDetailActivity" />
        <activity android:name=".ListTheLoaiActivity" />
        <activity android:name=".TheLoai" />
        <activity android:name=".TheLoaiDetailActivity" />
        <activity android:name=".ListSachActivity" />
        <activity android:name=".Themsach" />
        <activity android:name=".SachDetailActivity" />
        <activity android:name=".ListHoaDonActivity" />
        <activity android:name=".ThemHoaDonActivity" />
        <activity android:name=".HoaDonDetailActivity" />
        <activity android:name=".HoaDonChiTiet" />
        <activity android:name=".ListThongKeActivity" />
        <activity android:name=".ListBanChayActivity"></activity>



    </application>

</manifest>